
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>HCoin crypto currency</title>
  <style>
    html{
      background-color:#343a40;
    }
  </style>
</head>

    <nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="/logo.png" width="35" height="35" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chain">Chain </a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="accordion">
      <% let x = 1%>
      <% chain.bc.forEach(block => { %>

      <div class="card text-white bg-dark border-0">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapse<%= x%>">
            <center><p class="text-white">Block Number : <%=block.blockNumber%></p></center>
            <center><p class="text-white">Block Hash : <%=block.hash%></p></center>
            <center><p class="text-white">Previous Block Hash<%=block.prevHash%></p></center>
            <center><p class="text-white">Create at :<%=block.timestamp%></p></center>
          </a>
        </div>

        <div id="collapse<%= x%>" class="collapse" data-parent="#accordion">
            <div class="card bg-dark text-center">
              <div class="table-responsive">
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Reciever</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Signature</th>
                  </tr>
                </thead>
                <tbody>
                  <% block.data.forEach((transaction, i) => { %>
                  <tr>
                    <th scope="row"><%=i+1%></th>
                    <td><%=transaction.sender %></td>
                    <td><%=transaction.reciever %></td>
                    <td><%=transaction.amount %></td>
                    <td><%=transaction.sig %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              </div>
    </div>
</div>
</div>

<% x++ %>
<% }); %>
</div>
