<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>HCoin crypto currency</title>
  <style>
    html{
      background-color:#343a40;
    }
  </style>
</head>


<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/logo.png" width="35" height="35" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chain">Chain </a>
      </li>
    </ul>
  </div>
</nav>

<div class="card text-center text-white px-5 bg-dark border-0">
<center><img src="/logo.png" width="100" height="100" alt=""></center>
<h1 class="card-text text-white mt-4"><%= chain.checkBalance(chain.publicKey) %> <small>HC</small></h1>
</div>

<div class="card-deck bg-dark">
<div class="card text-center text-white px-5 bg-dark border-0">
  <div class="card-header bg-dark">

  </div>
  <div class="card-body bg-dark">
    <h5 class="card-title text-secondary">Mining reward wallet information</h5>
    <center><img src="/publicKey.png" width="400" height="400" alt=""></center>
    <center><a class="btn btn-success mt-3" data-toggle="collapse" href="#collapseMeme" role="button" aria-expanded="false" aria-controls="collapseMeme">
      View mining wallet address
    </a></center>
    <div class="collapse" id="collapseMeme">
        <p class="card-text mt-2"><small class = "text-secondary"><%= JSON.stringify(chain.publicKey) %></small></p>
    </div>
  </div>
  <div class="card-footer text-muted bg-dark">
  </div>
</div>

<div class = "card bg-dark px-5 border-0">
  <div class="card-header bg-dark">

  </div>

<div class = "card-body bg-dark">
  <h5 class="card-title text-secondary text-center">Miner system functions</h5>
    <div class = "card bg-dark border-0">
      <div class="card-body">
        <div class="card-body">
        <form action="/update" method="POST">
           <center><button type="submit" class="btn btn-light text-dark">Update servers</button><center>
        </form>
        </div>
        <p>

          <center><a class="btn btn-light text-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            View server list
          </a></center>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="table-responsive">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Server Url</th>
              </tr>
            </thead>
            <tbody>
              <% urls.forEach((url, i) => { %>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=url %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      </div>

      <div class = "card bg-dark border-0">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p>
            <center><a class="btn btn-light text-dark" data-toggle="collapse" href="#collapsem" role="button" aria-expanded="false" aria-controls="collapsem">
              View pending transactions
            </a></center>
          </p>
          <div class="collapse" id="collapsem">
            <div class="table-responsive">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Sender</th>
                  <th scope="col">Reciever</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Signature</th>
                </tr>
              </thead>
              <tbody>
                <% transactions.forEach((transaction, i) => { %>
                <tr>
                  <th scope="row"><%=i+1%></th>
                  <td><%=transaction.sender %></td>
                  <td><%=transaction.reciever %></td>
                  <td><%=transaction.amount %></td>
                  <td><%=transaction.sig %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
            </div>

            <form action="/mine" method="POST">
                <center><button type="submit" class="btn btn-success mt-2">Mine transactions</button><center>
            </form>
          </div>
        </div>
        </div>

        <div class = "card bg-dark border-0">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <form action="/sync" method="POST">
               <center><button type="submit" class="btn btn-light text-dark">Sync Chain</button><center>
            </form>
          </div>
          </div>



  </div>
  <div class="card-footer text-muted bg-dark">
  </div>
</div>
</div>
